<div class="form-group row">
  <div class="col-sm-12">
    <select #selectedValue (change)="this.getBoardActions(selectedValue.value)" class="form-control" id="exampleFormControlSelect1">
      <option>Select a Board</option>
      <option value="{{board.id}}" *ngFor="let board of this.boards">{{board.name}}</option>
    </select>
  </div>
</div>


<div *ngIf="this.boardSelect && this.boardSelect != 'Select a Board'">

<div class="row">
  <div class="col-sm-6">
    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>

</div>