
<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let board of boards" (click)="onClick(board)"><a> {{board.name}} </a></li>-->
      <!--&lt;!&ndash;<li class="list-group-item" *ngFor="let board of boards" (click)="onClick(board)" routerLinkActive="active">{{board.name}}</li>&ndash;&gt;-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->


<div class="row">
  <div class="col-sm-12">
    <div *ngFor="let board of boards" class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="board.name" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button (click)="onClick(board)" class="btn btn-outline-secondary" type="button">Show Board</button>
      </div>
    </div>
    <div class="input-group mb-3">
      <input #newBoard type="text" class="form-control" [(ngModel)]="newBoardName" placeholder="Create a new Board" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
  </div>
</div>



&nbsp;
&nbsp;

<div class="row">
  <div class="col-sm-12">
      <button (click)="onSave(newBoard.value)"  type="submit" class="btn btn-default">Save changes</button>
  </div>
</div>


<!--<div class="form-group">-->
  <!--<label for="board-name">Create new Board:</label>-->
  <!--<input #board_name (keyup.enter)="addBoard(board_name.value)" type="text" class="form-control" id="board-name">-->
<!--</div>-->

